In [1]:
# REQIRERD OR POSITIONAL ARG

def add(a,b):
    print(a+b)
add(1,2)

3

In [2]:
# REQIRERD OR POSITIONAL ARG

def add(a,b):
    print(a+b)
add(1,)

TypeError: add() missing 1 required positional argument: 'b'

In [6]:
# KEYWORD ARG

'''
key word arg yethuku use panrom yenral function arguments la name,age kuduthutu function calling la age,name nu 
maathikudutha error varum because age+2 nu oru process iruku. so integer kuda tha add aagum valu
for example:
           23+2=25 ithu correct
           vijay+2=error concadinate panna mudiyathu
itha thaduka tha key word arg use panrom
orutharoda name and age entry book la iruku... 2 varsam kalichu update pannanum yenaral age+2

'''
def update(name,age):

    print("NAME--->",name)
    print("AGE--->",age+2)
  
update(23,"vj")

NAME---> 23

TypeError: can only concatenate str (not "int") to str

In [7]:
def update(name,age):

    print("NAME--->",name)
    print("AGE--->",age+2)
  
update(age=23,name="vj")# inga mathikuduthalum function argument la yena order iruko athu mari tha follow aagum

NAME---> vj
AGE---> 25

In [2]:
# DEFAULT ARGUMENTS

''' 
inga yelarukum pothuva age fix pannanum yenral function argument or parameter la age=23 nu potal defalt ah yelarukum apply aagirum

'''

def person(name,age=23):

    print("NAME--->",name)
    print("AGE--->",age)
  
person("vj")
person("karthi")

NAME---> vj
AGE---> 23
NAME---> karthi
AGE---> 23

In [3]:
# VARIABLE LENGTH ARG

'''
oru parameter la or value tha store pannna mudium aanal variable length arg use panna many values store panikalam
*intha symbol use pannanum
ithalam tuple form la save aagum concadinate panum bothu datatype paathu podanum

'''

def person(name):
    print(" NAME--->",name)

person("vj","karthi","shiju")

TypeError: person() takes 1 positional argument but 3 were given

In [4]:
def person(*name):
    print(" NAME--->",name)

person("vj","karthi","shiju")

 NAME---> ('vj', 'karthi', 'shiju')

In [7]:
def person(*names):
    for name in names:
        print(" welcome to party",name,"enjoy the party...")

person("vj","karthi","shiju")

 welcome to party vj enjoy the party...
 welcome to party karthi enjoy the party...
 welcome to party shiju enjoy the party...

In [9]:

# ithalam tuple form la save aagum concadinate panum bothu datatype paathu podanum

def add(x,*y):
    print("X is--->",x)
    print("Y is--->",y)
    z=x+y
    print("SUM is --->",z)

add(1,2,3,4)

X is---> 1
Y is---> (2, 3, 4)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [17]:
def add(x,*y):
    print("X is--->",x)
    print("Y is--->",y)
    z=x
    for i in y:
        print("value of i=",i)
        z=z+i

    print("sum",z)
add(1,2,3,4,5,6)

X is---> 1
Y is---> (2, 3, 4, 5, 6)
value of i= 2
value of i= 3
value of i= 4
value of i= 5
value of i= 6
sum 21

In [18]:
def add(*y):
    print("Y is--->",y)
    z=0
    for i in y:
        print("value of i=",i)
        z=z+i

    print("sum",z)
add(1,2,3,4,5,6)

Y is---> (1, 2, 3, 4, 5, 6)
value of i= 1
value of i= 2
value of i= 3
value of i= 4
value of i= 5
value of i= 6
sum 21