In [2]:
a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
print(a)

{'name': 'vijay', 'age': 23, 'location': 'india', 'studies': ['10th', '12th', 'B.E']}

In [6]:
# keys()

a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
print(a.values())

dict_values(['vijay', 23, 'india', ['10th', '12th', 'B.E']])

In [7]:
# values()

a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value

print(a.values())

dict_values(['vijay', 23, 'india', ['10th', '12th', 'B.E']])

In [10]:
# modify panna mudium

a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
a["age"]=20
print(a)

{'name': 'vijay', 'age': 20, 'location': 'india', 'studies': ['10th', '12th', 'B.E']}

In [12]:
# modify panna mudium, modify and update process are same

a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
a.update({"age":19})
print(a)

{'name': 'vijay', 'age': 19, 'location': 'india', 'studies': ['10th', '12th', 'B.E']}

In [11]:
# puthusa keys and values "add" panna mudium

a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
a["color"]="black"
print(a)

{'name': 'vijay', 'age': 23, 'location': 'india', 'studies': ['10th', '12th', 'B.E'], 'color': 'black'}

In [14]:
# del
a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
del a["age"]
print(a)

{'name': 'vijay', 'location': 'india', 'studies': ['10th', '12th', 'B.E']}

In [15]:
# pop()
a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
a.pop("age")
print(a)

{'name': 'vijay', 'location': 'india', 'studies': ['10th', '12th', 'B.E']}

In [17]:
# pop()
a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
a.pop()  #ithula index value work aagathu because inga keys and value machanisum work aagum
print(a)

TypeError: pop expected at least 1 argument, got 0

In [1]:
# entire dictionary ah compleate ah delete panna 
a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
b={
    "name":"kumar",
    "age":20,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
del b
print(a)
print(b)

{'name': 'vijay', 'age': 23, 'location': 'india', 'studies': ['10th', '12th', 'B.E']}

NameError: name 'b' is not defined

In [2]:
# entire item ah compleate ah delete panna 
a={
    "name":"vijay",
    "age":23,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
b={
    "name":"kumar",
    "age":20,
    "location":"india",
    "studies":["10th","12th","B.E"]

} # key:value
a.clear()
print(a)
print(b)

{}
{'name': 'kumar', 'age': 20, 'location': 'india', 'studies': ['10th', '12th', 'B.E']}

In [3]:

d1={'name':'vj','age':'23','passion':'millionire'}
d2={'name':'kum','age':'29','passion':'wealth'}
print(cmp(d1,d2))

NameError: name 'cmp' is not defined