In [ ]:
'''

 Syntax:


          < List_Name>= (<Value 1>,<Value 2>,<Value 3>.........<Value n>)
        

'''

In [10]:
# EMPTY LIST
list=[]
list

[]

In [11]:
a=[12,13,14,15]
a[14] # yen error varuthuna inga index value tha kudukanum, inga index position value 14 varaikum illa

IndexError: list index out of range

In [12]:
a=[12,13,14,15]
a[3] # index position

15

In [13]:
# SLICING
a=[12,13,14,15,'VJ']
a[1:3] # index position

[13, 14]

In [14]:

a=[12,13,14,15,'VJ']
a[:3] # index position

[12, 13, 14]

In [15]:

a=[12,13,14,15,'VJ']
a[3:] # index position

[15, 'VJ']

In [16]:

a=[12,13,14,15,'VJ']
a[:] # index position

[12, 13, 14, 15, 'VJ']

In [1]:
# TYPE

a=[12,13,14,15]
print(type(a))

<class 'list'>

In [3]:
# APPEND <----------
# value add panrathuku 'APPEND' use panrom

a=[1,2,3,4,5,6]
a.append(1) # yerkanavae 1 irukku thirimba add panna athu duplicate value, 
# list duplicate value ah accept pannum
# add panra value last la than add aagum
a.append('vijay')
print(a)

[1, 2, 3, 4, 5, 6, 1, 'vijay']

In [5]:
# value add panrathuku 'APPEND' use panrom

a=[1,2,3,4,5,6]
a.append('vijay',"messi")
print(a)

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
# value add panrathuku 'APPEND' use panrom

a=[1,2,3,4,5,6]
a.append(['vijay',"messi"])
print(a)

[1, 2, 3, 4, 5, 6, ['vijay', 'messi']]

In [4]:
# INSERT <----------

a=[1,2,3,4,5]
a.insert(0,11) # (index positition value,insert panna vendiya element)
print(a)

[11, 1, 2, 3, 4, 5]

In [5]:
# INSERT

a=[1,2,3,4,5]
a[0]=11
print(a)

[11, 2, 3, 4, 5]

In [17]:
# POP <----------

a=[1,2,3,4,5]
a.pop(3) # index position
print(a)

[1, 2, 3, 5]

In [8]:
# POP

a=[1,2,3,4,5]
a.pop() # index position,last element delete aagum
print(a)

[1, 2, 3, 4]

In [23]:
# POP <----------

a=[1,2,3,4,5]
a.pop(1,3) # index position
print(a)

TypeError: pop expected at most 1 argument, got 2

In [ ]:
'''
 pop and remove la multiple elements ah pop or remove panna mudila

'''

In [21]:
# POP <----------

a=[1,2,3,4,5]
a.pop([1:3]) # index position
print(a)

SyntaxError: invalid syntax (109848033.py, line 4)

In [19]:
# POP <----------

a=[1,2,3,4,5]
del a [1:3] # index position
print(a)

[1, 4, 5]

In [7]:
# REMOVE <----------

a=[1,2,3,4,5]
a.remove()
print(a)

TypeError: list.remove() takes exactly one argument (0 given)

In [18]:

a=[1,2,3,4,5,2]
a.remove(2) # ELEMENT BASED, rendu 2 irunthal athil first irukuratha matum tha remove pannum
print(a)

[1, 3, 4, 5, 2]

In [19]:

a=[1,2,3,4,5]
a.remove(2,3)
print(a)

TypeError: list.remove() takes exactly one argument (2 given)

In [20]:

a=[1,2,3,4,5]
a.remove([2,3])
print(a)

ValueError: list.remove(x): x not in list

In [ ]:
'''
 pop and remove la multiple elements ah pop or remove panna mudila

'''

In [17]:

a=[1,2,3,4,5,2]
a.remove([2:5]) # ELEMENT BASED, rendu 2 irunthal athil first irukuratha matum tha remove pannum
print(a)

SyntaxError: invalid syntax (950410217.py, line 2)

In [10]:
# EXTEND <----------

a=[1,2,3,4,5]
b=[11.1,22.2,33.3,44.4]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 11.1, 22.2, 33.3, 44.4]

In [3]:

a=[1,2,3,4,5]
b=[11.1,22.2,33.3,44.4]
a.extend('vj','Goat','messi')
print(a)

TypeError: list.extend() takes exactly one argument (3 given)

In [4]:

a=[1,2,3,4,5]
b=[11.1,22.2,33.3,44.4]
a.extend(['vj','Goat','messi'])
print(a)

[1, 2, 3, 4, 5, 'vj', 'Goat', 'messi']

In [12]:
a=[1,2,3,4,5]

a+['vj','kumar']

[1, 2, 3, 4, 5, 'vj', 'kumar']

In [4]:
# SORT <----------

a=[1,4,6,9,2,7,3,2,'vj',8,'messi']
a.sort()
a

TypeError: '<' not supported between instances of 'str' and 'int'

In [2]:
a=[1,4,6,9,7,3,2,8]
a.sort()

In [3]:
a=[1,4,6,9,7,3,2,8]
a.sort()
a

[1, 2, 3, 4, 6, 7, 8, 9]

In [5]:
# REVERSE <----------

a=[1,4,6,9,7,3,2,8]
a.reverse()
a

[8, 2, 3, 7, 9, 6, 4, 1]

In [6]:
# LENTH <----------

# REVERSE

a=[1,4,6,9,7,3,2,8]
len(a)

8

In [7]:
# MEMBERSHIP OPERATOR <----------

a=[1,4,6,9,7,3,2,8]
4 in a

True

In [8]:
a=[1,4,6,9,7,3,2,8]
10 in a

False

In [10]:
# COUNT <----------

a=[1,4,6,9,7,3,2,8,4,4,4]
print(a.count(4),"times")

4 times

In [15]:
# CLEAR <----------

a=[1,4,6,9,7,3,2,8,4,4,4]
a.clear()
a

[]

In [16]:
# COPY <----------

a=[1,4,6,9,7,3,2,8,4,4,4]
a.copy()

[1, 4, 6, 9, 7, 3, 2, 8, 4, 4, 4]

In [2]:
a=[1,2,3,4]
b=[9,7,6,6]
print(cmp(a,b))

NameError: name 'cmp' is not defined